* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.4;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #333;
}

.container {
	width: 50vw;
}

@media (max-width: 850px) {
	.container {
		width: 60vw;
	}
}

input {
	border: 2px solid #fff;
}

input:focus {
	outline: none;
}

.btn {
	cursor: pointer;
	padding: 4px;
}

.btn:hover {
	background: #aaa;
}

a {
	color: #333;
	text-decoration: none;
}
